<form action="/posts" method="post">
  Title:<input type="text" name="post[title]" /><br />
  <textarea name="post[body]" rows=10 cols=50> </textarea><br />
  <input type="submit" value="Post!" />
  <input type="reset" value="Reset">
</form>
<a href="<%= root_url %>">Return</a>
<a href="<%= show_url(:id => "1234") %>">show</a>